node_modules/
dist/
stats.html
*.pdf
*.png
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.env
.vercel
.netlify
.netlify-cache
.nitro
.output
.next
